form {
  padding: 16px;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  input {
    padding: 10px 15px;
    font-size: 1.5rem;
    border-radius: 12px;
    margin-bottom: 16px;
  }

  button {
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    font-weight: 500;
    border-radius: 12px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

#status {
  margin-inline: auto;
  margin-top: 10px;
}
