* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google Sans';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  max-width: 900px;
  margin-inline: auto;
}
